<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.rocketmq.gateway.common.dao.SecKillProductMapper" >

    <!--查询商户配置信息-->
    <select id="querySecKillProductList"
            resultType="org.apache.rocketmq.gateway.common.dao.dataobject.SecKillProductDobj">
        select
            t.id AS id,
            t.prod_id AS prodId,
            t.prod_name AS prodName,
            t.prod_stock AS prodStock,
            t.prod_price AS prodPrice,
            t.prod_status AS prodStatus
        from t_seckill_product t
        where t.prod_status = 0
    </select>

    <!--根据id查询产品信息-->
    <select id="queryProdById"
            parameterType="java.lang.String"
            resultType="org.apache.rocketmq.gateway.common.dao.dataobject.SecKillProductDobj">
        select
            t.id AS id,
            t.prod_id AS prodId,
            t.prod_name AS prodName,
            t.prod_stock AS prodStock,
            t.prod_price AS prodPrice,
            t.prod_status AS prodStatus
        from t_seckill_product t
        where t.prod_status = 0
        and t.prod_id = #{prodId}
    </select>

    <!--任务执行状态到处理中-->
    <update id="updateProdInfo"
            parameterType="org.apache.rocketmq.gateway.common.dao.dataobject.SecKillProductDO">
        update t_seckill_product t
        <set>
            <if test="prodName != null and prodName != ''">
                t.prod_name = #{prodName},
            </if>
            <if test="prodPrice != null and prodPrice != ''">
                t.prod_price = #{prodPrice},
            </if>
            <if test="prodStatus != null and prodStatus != ''">
                t.prod_status = #{prodStatus},
            </if>
        </set>
        where t.prod_id = #{prodId}
    </update>
</mapper>