<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.rocketmq.order.common.dao.SecKillProductMapper" >

    <!--查询商户配置信息-->
    <select id="querySecKillProductList"
            resultType="org.apache.rocketmq.order.common.dao.dataobject.SecKillProductDobj">
        select
            t.id AS id,
            t.prod_id AS prodId,
            t.prod_name AS prodName,
            t.prod_stock AS prodStock,
            t.prod_price AS prodPrice,
            t.prod_status AS prodStatus
        from t_seckill_product t
        where t.prod_status = 0
    </select>

    <!--根据商品id查询商品信息-->
    <select id="querySecKillProductByProdId"
            parameterType="org.apache.rocketmq.order.common.dao.dataobject.SecKillProductDO"
            resultType="org.apache.rocketmq.order.common.dao.dataobject.SecKillProductDobj">
        select
            t.id AS id,
            t.prod_id AS prodId,
            t.prod_name AS prodName,
            t.prod_stock AS prodStock,
            t.prod_price AS prodPrice,
            t.prod_status AS prodStatus,
            t.version AS version
        from t_seckill_product t
        where t.prod_id = #{prodId}
    </select>

    <!--商品扣减库存-->
    <update id="decreaseProdStock" parameterType="org.apache.rocketmq.order.common.dao.dataobject.SecKillProductDO">
        UPDATE t_seckill_product
        SET prod_stock = prod_stock - 1,
            version = version + 1
        WHERE
            prod_id = #{prodId}
        <![CDATA[  AND prod_stock >= 1 ]]>
	    AND version = #{version}
    </update>

</mapper>